body
{
    display: flex;
    margin: 0;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #222;
}

a
{
    color: #8F6593;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 0.5px #111;
}

header
{
    flex-basis: 31%;
    background-color: #AEA4BF;
    font-family: 'Julius Sans One', sans-serif;
}

header > img
{
    border-radius: 0 0 50px 0;
    border-bottom: 3px solid #3B252C;
    border-right: 3px solid #3B252C;
    box-shadow: 0px 1px 15px 5px #111;
}

div.info
{
    padding:0 20px ;
}

section.content
{
    flex-basis: 69%;
    background-color: #E3E4DB;
    border-left: 5px solid #3B252C;
    border-right: 5px solid #3B252C;
}

div.list
{
    position: sticky;
    top: 0;
}

div.list > ul
{
    display: flex;
    justify-content: space-between;
    background-color: #3B252C;
    margin: 0;
    padding: 0 30px;
    list-style: none;
}

div.list > ul > li
{
    padding: 0 10px;
    
}

 div.list > ul > li > a:hover,
 div.list > ul > li > a:focus,
 div.list > ul > li > a:active
{
    color: #AEA4BF;
}

 div.paragraph
{
    padding: 10px 30px;
}

 div.dark
{
    background-color: #CDCDCD;
}

 footer
{
   margin-bottom: 0;
   position: sticky;
   bottom: 0;
   text-align: center;
   background-color: #3B252C;
   color: #8F6593;
}



