body
{
    display: flex;
    margin: 0;
    font: serif 18px;
    line-height: 1.5;
    color: #222;
}

a
{
    color: #8F6593;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 0.5px #111;
}

header
{
    flex-basis: 25%;
    background-color: #AEA4BF;
}

header > img
{
    border-radius: 0 0 50px 0;
    border-bottom: 3px solid #3B252C;
    border-right: 3px solid #3B252C;
    box-shadow: 0px 1px 15px 5px #111;
}

header > div.Info
{
    padding:0 20px ;
}

body > section.Content
{
    flex-basis: 75%;
    background-color: #E3E4DB;
    border-left: 5px solid #3B252C;
    border-right: 5px solid #3B252C;
}

body > section.Content > div.List
{
    position: sticky;
    top: 0;
}

body > section.Content > div.List > ul
{
    display: flex;
    justify-content: space-between;
    background-color: #3B252C;
    margin: 0;
    padding: 0 30px;
    list-style: none;
}
body > section.Content > div.List > ul > li
{
    padding: 0 10px;
    
}

body > section.Content > div.List > ul > li > a:hover,
body > section.Content > div.List > ul > li > a:focus,
body > section.Content > div.List > ul > li > a:active
{
    color: #AEA4BF;
}

body > section.Content > div.Paragraph
{
    padding: 10px 30px;
}

body > section.Content > div.Dark
{
    background-color: #CDCDCD;
}

body > section.Content > footer
{
   margin-bottom: 0;
   position: sticky;
   bottom: 0;
   text-align: center;
   background-color: #3B252C;
   color: #8F6593;
}



